.thingsToDoListTitle,
.thingsToDoList {
  margin-bottom: 0.5rem;
  align-self: center;
  width: 35vw;
}

@media (max-width: 500px) {
  .cardContainer {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .image {
    height: fit-content;
  }

  .titleHeader,
  .imageContainer,
  .description,
  .thingsToDoListTitle,
  .thingsToDoList {
    align-self: center;
    margin: 1rem 0;
    width: 80vw;
  }
}
