.cardContainer {
  display: flex;
  width: 60vw;
  margin: auto;
  margin-top: 5rem;
}

.cardTitleContainer {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.title {
  align-self: center;
}

.text {
  margin-top: 0.5rem;
  width: 100%;
  text-align: justify;
}

.logoImg {
  height: 3.5rem;
  width: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    margin-top: 10rem;
    width: 80vw;
  }
  .title {
    font-size: 1.5rem;
  }
}
