.cardContainerList {
  border: 1px solid #f2f2f2;
  list-style: none;
}
.cardContainerList:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(97, 72, 219, 0.911);
  transition-duration: 0.5s;
  transition-property: transform;
  transform: scale(1.005);
}
.unOrderedListContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; /* default: 1 column on mobile */
  width: 95vw;
  margin: auto;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cloudinaryImg {
  height: 20rem;
  width: 90%;
}

.titleHeader {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.description {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .unOrderedListContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (min-width: 900px) {
  .unOrderedListContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
  }
}
@media (max-width: 600px) {
  .unOrderedListContainer {
    margin-top: 7rem;
  }
}
