.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardContainer {
  width: 50%;
  align-self: center;
}

.logoImg {
  align-self: center;
  width: 3.25rem;
  height: 3rem;
  margin-bottom: -1rem;
}

.button {
  margin: 1.5rem 0.5rem;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    padding-top: 250px;
  }
  .cardContainer {
    width: 80%;
    align-self: center;
  }

  .logoImg {
    align-self: flex-end;
    height: 3rem;
    width: 3.25rem;
    margin-right: 3rem;
  }
}
