.cardContainer {
  width: 100%;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  /* margin-top: 3rem; */
}

.logoImg {
  height: 3rem;
  width: 3.25rem;
  align-self: flex-end;
  margin-bottom: -11rem;
}

.button {
  margin: 1.5rem 0.5rem;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 80%;
    margin-top: 10rem;
  }
  .logoImg {
    height: 3rem;
    width: 3.25rem;
    align-self: flex-end;
    position: sticky;
    top: 11rem;
  }
}
