.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleHeader,
.imageContainer,
.description {
  align-self: center;
  padding: 1rem 0;
  width: 40vw;
}

.description {
  border-top: 1px solid ghostwhite;
  font-style: italic;
}

.titleHeader {
  font-size: 2rem;
}

.imageContainer img {
  width: inherit;
}

.externalLinkContainer {
  width: fit-content;
  align-self: center;
}

.buttonContainer {
  display: flex;
  margin: 1.5rem 0;
}
.buttonContainer > button {
  margin: 0 0.5rem;
}

.buttonContainer > a {
  margin-left: auto;
  align-content: center;
}

.map {
  height: 50vh;
  width: inherit;
  border-radius: 12px;
  margin: 1rem 0;
}

.thingsToDoListTitle,
.thingsToDoList {
  margin-bottom: 0.5rem;
  align-self: center;
  width: 40vw;
}

@media (max-width: 500px) {
  .image {
    height: fit-content;
  }

  .titleHeader,
  .imageContainer,
  .description,
  .thingsToDoListTitle,
  .thingsToDoList {
    align-self: center;
    margin: 1rem 0;
    width: 80vw;
  }
}
