.cardContainer {
  display: flex;
  margin: 0.5rem 0;
  padding: 1rem;
}

.cardContainerLink {
  display: flex;
}

.imageContainer {
  align-self: center;
  margin-right: 1rem;
  width: 5rem;
  height: auto;
}

.cloudinaryImage {
  height: 5rem;
}

.titleContainer {
  width: 80%;
}

@media (max-width: 600px) {
  .cardContainerLink {
    display: flex;
    justify-content: space-between;
  }

  .titleContainer,
  .cardContainerLink {
    width: 100%;
  }

  .imageContainer {
    width: 30%;
  }

  .cardContainer:first-of-type {
    margin-top: 7rem;
  }
  .cardContainer:last-of-type {
    margin-bottom: 7rem;
  }
  .cardContainer:hover {
    border: 1px solid yellow;
  }
}
