
.cardContainer {
  display: flex;
  margin: 0.5rem 0;
  padding: 1rem;
}

.cardContainerLink:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(97, 72, 219, 0.911);
  transition-duration: 0.5s;
  transition-property: transform;
  transform: scale(1.005);
}

.imageContainer {
  align-self: center;
  margin-right: 1rem;
  width: 5rem;
  height: auto;
}

.cloudinaryImage {
  height: 5rem;
}

.titleContainer {
  width: 80%;
}
