.container,
.auxViewContainer {
  margin-left: 2rem;
  display: flex;
  align-items: self-end;
  padding-bottom: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 470px) {
  .container {
    justify-content: center;
    position: fixed;
    margin: 0;
    bottom: 0;
    z-index: 1001;
    background: inherit;
    width: 100%;
    padding-top: 0.5rem;
    border-top: 1px solid ghostwhite;
  }

  .button {
    margin: 0 0.5rem;
  }
}
