.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
}

.logo {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
}

.logoImg {
  height: 2.25rem;
  align-items: center;
}

.logoImgSunglasses {
  height: 1.75rem;
  width: 1.75rem;
  align-items: center;
  margin: 0 0.5rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    position: fixed;
    /* height: 100px; */
    margin: 0;
    top: 0;
    z-index: 1001;
    background: inherit;
    border-bottom: 1px solid ghostwhite;
  }
  .titleContainer {
    width: 95%;
    margin: auto;
  }
}
