.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}

.cardContainer {
  width: 50%;
  align-self: center;
}

.logoImg {
  align-self: center;
  width: 3.25rem;
  height: 3rem;
  margin-bottom: -1rem;
}

.usernameInput,
.emailInput,
.passwordInput,
.confirmPasswordInput {
  margin: 0.5rem 0;
}

.link {
  display: flex;
  align-items: flex-end;
  padding: 1rem 0;
}
.button {
  margin: 1.5rem 0.5rem;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    padding-top: 75px;
  }
  .cardContainer {
    width: 80%;
    align-self: center;
  }

  .logoImg {
    align-self: flex-end;
    height: 3rem;
    width: 3.25rem;
    margin-right: 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  .cardContainer p {
    color: var(--mantine-color-text);
  }
}
