.titleContainer {
  display: flex;
  justify-content: center;
}

.titleContainer > h1 {
  align-self: center;
}

@media (max-width: 600px) {
  .container {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}
